@import url('https://fonts.googleapis.com/css2?family=Archivo+Black&display=swap');  

body{
  background-image: radial-gradient(#DFD6A7,#F7B05B);
}
  
.soundboard{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

.button-container{
  display: inline;
}
  
.sound-button {
    height:150px;
    width:300px;
    font-size: 24px;
    border: none;
    background-color: #1e1d1d;
    border-radius: 10px;
    box-shadow: 0 10px #ff4f1e;
    cursor: pointer;
    margin: 20px 20px 20px 20px;
    color: #fff; 
    font-family: 'Archivo Black', sans-serif;
    transition: 0.3s;
}

.sound-button:hover{
  background-color: #cbcbcb;
  color: #1e1d1d;
}

.sound-button:active{
  transform: translateY(4px);
  box-shadow: 0 6px #f1977e;
}

.top{
  display: block;
}

.bot{
  display: block;
}

.h-1{
  text-align: center;
  color: #1e1d1d;
  font-family: 'Archivo Black', sans-serif;
  font-size: 80px;
}

.right, .left{
  position: absolute;
  text-align: center;
  padding: 20px;
  border: none;
  background-color: #1e1d1d;
  border-radius: 50px;
  box-shadow: 0 10px #ff4f1e;
  cursor: pointer;
  margin: 20px 20px 20px 20px;
  color: #fff; 
  font-family: 'Archivo Black', sans-serif;
  transition: 0.3s;
}

.right{
  right: 50px;
  bottom: 50px;
}

.left{
  left: 50px;
  bottom: 50px;
}

.right:hover{
  background-color: #cbcbcb;
  color: #1e1d1d;
}

.right:active{
  transform: translateY(4px);
  box-shadow: 0 6px #f1977e;
}

.left:hover{
  background-color: #cbcbcb;
  color: #1e1d1d;
}

.left:active{
  transform: translateY(4px);
  box-shadow: 0 6px #f1977e;
}

a{
  text-decoration: none;
  transition: 0.3s;
}
    