#soundboard {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    height: 100vh;
  }
  
  .button-container {
    margin: 10px;
  }
  
  .sound-button {
    padding: 10px 20px;
    font-size: 24px;
    border: none;
    background-color: #008CBA;
    color: #fff;
    border-radius: 4px;
    cursor: pointer;
  }
  