body{
    background-color: rgb(199, 137, 56);
}

img{
    width: 700px;
}

.black-car{
    filter: grayscale(90%);
}

.blue-car{
    filter: grayscale(90%);
}

.yellow-car{
    filter: grayscale(90%);
}

.black-car-div{
    display: inline-block;
    margin-top: 25px;
    margin-bottom: 25px;
    margin-right: 25px;
    box-shadow: 15px 15px 10px black;
    line-height: 0px;
    border: solid #666667 5px;
    border-radius: 5px;
    background-color: #666667;
}

.blue-car-div{
    display: inline-block;
    margin-top: 25px;
    margin-bottom: 25px;
    margin-left: 25px;
    line-height: 0px;
    box-shadow: 15px 15px 10px black;
    border: solid #5370bf 5px;
    border-radius: 5px;
    background-color: #5370bf;
}

.yellow-car-div{
    display: block;
    text-align: center;
    width: 700px;
    margin: 0 auto;
    margin-bottom: 50px;
    box-shadow: 20px 15px 10px black;
    line-height: 0px;
    border: solid #f2e59f 5px;
    border-radius: 5px;
    background-color: #f2e59f;
}

.top-images{
    text-align: center;
}

figcaption{
    padding-top: 13px;
    padding-bottom: 10px;
    text-align: left;
}