@import url('https://fonts.googleapis.com/css2?family=Comfortaa:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Comfortaa:wght@700&family=Poppins&display=swap');

body{
    position: absolute;
    top:50%;
    left:50%;
    transform: translate(-50%, -50%);
    margin: 0;
    background-color: #424B54;
    color:#EDDDD4;
}


.header{
    text-align: center;
    margin: 0;
    font-size: 70px;
    letter-spacing: 5px;
    font-family: 'Rubik Mono One', sans-serif;    
    font-weight: bold;
}

.container{
    display: flex;
    justify-content: center;
    align-items: center;
}

.cost-div,.liters-div,.btn-div,.result{
    margin: 20px;
    width:600px;
}

.input{
    display: block;
    font-size: 20px;
    font-family: 'Space Mono', monospace;
    width: 565px;
    background-color: #EDDDD4;
    color: #424B54;
    border-radius: 10px;
    padding: 12px 20px;
    transition: 0.4s ease;
    border: 3.2px solid #887468;
    outline: none;
}

input[type=number]:focus{
    border: 3.2px solid rgb(0, 0, 0);
}


label{
    font-size: 28px;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.calc-btn{
    display: block;
    font-size: 20px;
    font-family: 'Space Mono', monospace;
    background-color: #EDDDD4;
    color: #424B54;
    border-radius: 15px;
    border: 3.2px solid #887468;    
    padding: 10px 20px;
    transition: 0.2s;
    cursor: pointer;
}

.calc-btn:hover{
    box-shadow: 0px 0px 25px black;
}

.calc-btn:active{
    background-color: #8d8782;
    color: #202225;
    border: 3.2px solid #52463f;    

}

#result{
    line-height: 0px;
    text-decoration: underline;
}

.result{
    display: block;
    text-align: center;
    font-size: 30px;
    font-family: 'Space Mono', monospace;
    font-weight: bold;
}

